.footer {
  display: flex;

  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 65%;
  max-width: 95%;
  ul {
    li {
      list-style: none;
      font-size: 0.9rem;
      letter-spacing: 0.5px;
    }
  }
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  font-style: oblique;
  letter-spacing: 1px;
}

.footer-below {
  text-align: center;
  font-weight: bolder;
  margin-top: 25px;
  font-weight: lighter;
}
